.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shimmer-item {
  flex: 1 1 calc(16.66% - 10px); /* Adjust the percentage to fit 5-6 items per row */
  color: grey;

  margin: 5px;
  box-sizing: border-box;
  height: 300;
  width: auto;
}
